.project {
  &_container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: auto;

    background-color: var(--opacity-purple-color);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 50px 30px 30px 30px;

    word-break: keep-all;
  }

  &__content,
  &__sub {
    @include flexCenter();
    flex-direction: column;
    line-height: 1.5;
  }

  &__sub {
    align-items: flex-start;
    text-align: start;
  }

  &__team {
    margin-top: 20px;
    opacity: 0.8;
    font-family: var(--hahmlet-font);
  }

  &__title,
  &__date,
  &__skills,
  &__charge {
    margin-bottom: 20px;
  }

  &__remembrance {
    margin-bottom: 40px;
    text-align: justify;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

img {
  width: 90%;
}

h3 {
  font-size: 35px;
  font-family: var(--LeferiPoint-font);
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgba(255, 174, 0, 1) 0%,
    rgba(255, 255, 255, 1) 81%,
    rgba(255, 255, 255, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

h4 {
  width: fit-content;
  background-color: var(--purple-color);
  border-radius: 5px;
  padding: 3px 15px;
  margin-bottom: 10px;
  font-family: var(--hahmlet-font);
  font-size: 20px;
}

button {
  background-color: var(--purple-color);
  color: inherit;
  padding: 10px 30px;
  border-radius: 50px;
  transition: all 1s ease-in-out;

  &:hover {
    background-color: var(--light-yellow-color);
  }
}

@media screen and (max-width: 1300px) {
  .project {
    &_container {
      grid-template-columns: 1fr;
    }

    &__team {
      margin-bottom: 20px;
    }
  }

  h3 {
    font-size: 25px;
    font-weight: 900;
  }

  h4 {
    font-size: 16px;
  }
}
