.html,
.css,
.sass,
.javascript,
.react,
.redux,
.python,
.firebase,
.github,
.figma {
  font-size: 30px;
}

.html {
  color: #e34f26;
}
.css {
  color: #1572b6;
}
.javascript {
  color: #f7df1e;
}
.react {
  color: #61dafb;
}
.redux {
  color: #764abc;
}
.python {
  color: #3776ab;
}
.sass {
  color: #cc6699;
}
.firebase {
  color: #ffca28;
}
.github {
  color: #ffffff;
}
.figma {
  color: #f24e1e;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  height: auto;
  font-size: 20px;
}

.skills_container span {
  margin-left: 10px;
}

.skills_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
