footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footerImg {
  width: 50px;
  height: 50px;
  margin: 0px 30px;
  filter: var(--png-brown-color);
}

.footerImg:hover {
  filter: invert(70%) sepia(80%) saturate(2320%) hue-rotate(360deg)
    drop-shadow(0px 0px 30px rgb(255, 240, 192));
}
