footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footerImg {
  font-size: 50px;
  margin: 0px 40px;
  color: var(--opacity-light-yellow-color);
  transition: 1s all ease-in-out;
}

.footerImg:hover {
  color: var(--light-yellow-color);
}
