// mixin
@import "./mixin.scss";

// font
@import "./font.scss";

@import "./scss/Background.scss";
@import "./scss/Footer.scss";
@import "./scss/Header.scss";
@import "./scss/Main.scss";
@import "./scss/Navbar.scss";
@import "./scss/Section.scss";

@import "./scss/Sections/AboutMe.scss";
@import "./scss/Sections/CareerAndEdu.scss";
@import "./scss/Sections/Project.scss";
@import "./scss/Sections/Skills.scss";

@import "./scss/TopButton.scss";

:root {
  // 색상
  --png-yellow-color: invert(70%) sepia(80%) saturate(2320%) hue-rotate(360deg)
    brightness(90%) contrast(180%);
  --png-brown-color: invert(24%) sepia(96%) saturate(717%) hue-rotate(15deg)
    brightness(130%) contrast(104%);
  --light-yellow-color: rgb(255, 174, 0);
  --purple-color: rgb(102, 103, 171);
  --opacity-purple-color: rgba(102, 103, 171, 0.4);
  --opacity-light-yellow-color: rgba(255, 174, 0, 0.4);

  // 영어폰트
  --default-eng-font: "Gothic A1", sans-serif;
  --light-eng-font: "Alumni Sans", sans-serif;
  --dancing-script-font: "Dancing Script", cursive;

  // 한글폰트
  --hahmlet-font: "Hahmlet", serif;
  --PyeongChangPeace-font: "PyeongChangPeace-Bold";
  --LeferiPoint-font: "LeferiPoint-WhiteObliqueA";
  --NanumSquareNeo-font: "NanumSquareNeo-Variable";
}

.portfolio-app {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  animation: pageOpen 4s ease-in-out;
}

.fixed-border {
  margin-top: 130px;

  &__background {
    width: 100vw;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(13, 14, 10);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @include flexCenter();
  flex-direction: column;
  height: 100%;
  color: white;
  font-family: var(--default-eng-font);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes pageOpen {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 880px) {
  html {
    font-size: 14px;
  }
  .fixed-border {
    margin-top: 100px;

    &__background {
      width: 100vw;
      height: 80px;
    }
  }
}
