/* 한글 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200&display=swap");
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 영어 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";

/* 얇은 영어 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap");
