nav {
  position: fixed;
  top: 100px;
  width: calc(100vw * 0.8);
  margin: auto;
  z-index: 100;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    position: relative;

    li {
      list-style-type: none;
      font-weight: 600;
    }
  }
}

.nav-list {
  padding: 15px 30px;
  background-color: var(--opacity-purple-color);
  border-radius: 50px;
  transition: all 1s ease-in-out;

  &:hover {
    background-color: var(--light-yellow-color);
  }
}

.menu {
  display: none;
  font-size: 30px;
  color: var(--light-yellow-color);
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .menu {
    display: block;
    position: absolute;
    top: -66px;
    right: -15px;
  }

  nav {
    background: url("../img/smoke.png");
    border-radius: 0 0 30px 30px;
  }

  ul li {
    margin-bottom: 5px;
  }

  .show-menu {
    display: block;
  }
  .hide-menu {
    display: none;
  }
}
