section {
  @include flexCenter();
  flex-direction: column;
  font-family: var(--ibm-flex-sans-kr);
}

/* info */
.info {
  @include flexCenter();
  flex-direction: column;
  font-size: 50px;
  margin: 50px 0px 100px 0px;

  span {
    font-size: 80px;
    color: var(--light-yellow-color);
  }

  p {
    font-size: 20px;
  }
}

h1 {
  font-size: 70px;
  font-family: var(--PyeongChangPeace-font);
  font-weight: 100;

  &:nth-child(2) {
    margin-bottom: 30px;
  }
}

h2 {
  font-family: var(--dancing-script-font);
  font-size: 40px;
  margin-bottom: 50px;

  &::first-letter {
    color: var(--purple-color);
    font-size: 80px;
  }
}

#aboutMe,
#skills,
#project,
#career,
#edu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .info {
    font-size: 50px;
    margin: 20px 0px 0px 0px;

    span {
      font-size: 60px;
    }

    p {
      font-size: 15px;
    }
  }

  h1 {
    font-size: 50px;

    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }

  h2 {
    font-size: 30px;
    margin-bottom: 50px;

    &::first-letter {
      color: var(--purple-color);
      font-size: 60px;
    }
  }
}
