.scroll__container {
  @include flexCenter();
  position: fixed;
  bottom: 24px;
  right: 94px;
  width: 60px;
  height: 60px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 26px;
  cursor: pointer;

  &__img {
    width: 60%;
    height: 60%;
  }
}

@media screen and (max-width: 880px) {
  .scroll__container {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    bottom: 20px;
    right: 65px;

    &__img {
      width: 20px;
      height: 20px;
    }
  }
}
